.header{
    background: linear-gradient(to bottom, #20b820,#14be2a);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
}

.header span{
    margin: 0 10px;
    font-weight: bold;
}